<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quistime">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Menu.ListNilaiActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Menu.ViewPager"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.TokenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.MatkulActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.TambahMatkulActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.SigninActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.LoginDosenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.SoalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.TambahSoalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.JawabActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Menu.MhsLoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>